
# Git things
alias g="git"
alias gcm="git checkout master"
alias gcd="git checkout develop"
alias cph="git log -1 --pretty=format:"%h" | pbcopy"
alias sourcezsh="source ~/.zshrc"
alias ggl="git pull"
alias gsb='git status -sb'
alias gtv='git tag | sort -V'
alias gupa='git pull --rebase --autostash'

alias rmn="rm -rf node_modules && echo node_modules deleted!"
alias lfolder="ls -d -- */ .*/"
alias nv=nvim
alias t="tmux"

# Shortcuts
#alias vim=nvim
alias ls=eza
alias ll="eza --all --tree --level 1 "
alias luamake=$HOME/Documents/code/lua-language-server/3rd/luamake/luamake
alias be='bundle exec '
# Shortcuts
alias d="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias drbb="dart run build_runner build -d -v"
alias p="cd $PROJECTS"
alias code="cd ~/code"
# Gatekeeper (for installing 3rd party apps)
alias gatekeeperOff="sudo spctl --master-disable"
alias gatekeeperOn="sudo spctl --master-enable"

alias ch="cht.sh"
#Pacman Shortcuts
alias sync="sudo pacman -Syyy"
alias install="sudo pacman -S"
alias update="sudo pacman -Syyu"
alias search="sudo pacman -Ss"
alias clr-cache="sudo pacman -Scc"
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias remove="sudo pacman -R"
alias autoremove="sudo pacman -Rns"
alias update-keys="sudo pacman -Sy archlinux-keyring endeavouros-keyring"

alias vg="very_good"
alias fl="flutter"
alias getwname="xprop | grep WM_CLASS"
alias deletestore='find . -name ".DS_Store" -type f -print -delete'

alias tldrf='tldr --list | fzf --preview "tldr {1} --color=always" --preview-window=right,70% | xargs tldr'
alias kill_md="launchctl unload /Library/LaunchAgents/com.microsoft.wdav.tray.plist"
