
# Git things
alias g="git"
alias gcm="git checkout master"
alias gcd="git checkout develop"
alias cph="git log -1 --pretty=format:"%h" | pbcopy"
alias sourcezsh="source ~/.zshrc"
alias ggl="git pull"
alias gsb='git status -sb'
alias gtv='git tag | sort -V'
alias gupa='git pull --rebase --autostash'

alias rmn="rm -rf node_modules && echo node_modules deleted!"
alias lfolder="ls -d -- */ .*/"
alias nv=nvim
alias ls=exa
alias ll="exa --all --tree --level 1 "
alias t="tmux"

# Shortcuts
alias vim=nvim
alias ls=exa
alias luamake=$HOME/Documents/code/lua-language-server/3rd/luamake/luamake
alias be='bundle exec '
# Shortcuts
alias d="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd $PROJECTS"
alias code="cd ~/Documents/code"
# Gatekeeper (for installing 3rd party apps)
alias gatekeeperOff="sudo spctl --master-disable"
alias gatekeeperOn="sudo spctl --master-enable"

alias ch="cht.sh"
#Pacman Shortcuts
alias sync="sudo pacman -Syyy"
alias install="sudo pacman -S"
alias update="sudo pacman -Syyu"
alias search="sudo pacman -Ss"
alias clr-cache="sudo pacman -Scc"
alias unlock="sudo rm /var/lib/pacman/db.lck"
alias remove="sudo pacman -R"
alias autoremove="sudo pacman -Rns"
