[alias]
  cansei = commit --amend --no-edit
  ac = !git add -A && git cansei
  branch-name = !git rev-parse --abbrev-ref HEAD
  stashstaged = !git stash --keep-index && \
    git stash && \
    git stash apply stash@{1} && \
    git stash show -p | git apply -R && \
    git stash drop stash@{1}

    # discard everything
    fuck = reset --hard HEAD

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  # log things 

  graph = log --oneline --graph --decorate

  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  conflicts = diff --name-only --diff-filter=U

  local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'

  recent-branches = !git branch --sort=-committerdate | head

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  # List contributors.
  authors = !git log --format='%aN <%aE>' | grep -v 'users.noreply.github.com' | sort -u --ignore-case
  lc = shortlog --email --numbered --summary

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 # List remote branches.

  lrb = "!f() { \
    remote=\"${1:-origin}\"; \
    git ls-remote --heads \"$remote\"; \
    }; f"

  # Search source

  sc = "!f() { \
    git log --date=short --decorate --pretty=custom -S\"$1\"; \
    }; f"

  # Search message

  sm = "!f() { \
    git log --date=short --decorate --pretty=custom --grep=\"$1\"; \
    }; f"

[push]

    # Make `git push` automatically push relevant
    # annotated tags when pushing branches out.

  followTags = true

[core]
  editor = nvim

[sequence]
  editor = nvim

; [includeIf "gitdir:"]

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  line-numbers = true
  side-by-side = true

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[push]
  default = current

[pretty]
  custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
#                     │        │            │            │             └─ author name
#                     │        │            │            └─ message
#                     │        │            └─ date (relative)
#                     │        └─ decorations (branch, heads or tags)
#                     └─ hash (abbreviated)

[include]
  path = ~/.dotfiles/private/.gitconfig-private
